@* this is a dashboard that we see in submenu under dashboard parent *@

@model DashboardDataModel

@{
    ViewData["Title"] = Model.DashName;
    Layout = null;
}

@using DevExpress.AspNetCore
@using DevExpress.DashboardWeb
@using DevExpress.DashboardAspNetCore

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - AerialView-3.0</title>
    <link rel="stylesheet" href="/fonts/remixicon.css">
    <link rel="stylesheet" href="/lib/bootstrap.min.css" />
    <link href="~/css/site.min.css" rel="stylesheet" />
    <link href="~/css/ace/ace.bundle.css" rel="stylesheet" />
    <script src="~/js/site.min.js"></script>
    <link rel="stylesheet" href="~/css/thirdparty.bundle.css" />
    <script src="~/js/thirdparty.bundle.js"></script>
    <link href="~/css/dashboard.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="icon" href="@Url.Content("~/33477137_AerialView-Logo-5.ico")">
</head>
<body>

    @if (Model != null && Model.DashPath != null)
    {
        <div class="d-flex align-items-center justify-content-center py-1 px-4  border-bottom" style="background-color: #1866B0 ;">
            <h6 class="fw-medium text-white mb-0">@Model.DashName</h6>
        </div>

        string dashPath = Model.DashPath.Substring(0, Model.DashPath.LastIndexOf("."));

        <div style="position: absolute; left:0;top:26px;right:0;bottom:0;" class="border-top">
            @(Html.DevExpress().Dashboard("clientDashboardControl")
                .ControllerName("DefaultDashboard")
                .Width("100%")
                .Height("100%")
                .WorkingMode(WorkingMode.Viewer)
                .InitialDashboardId(dashPath)
                .OnBeforeRender("onBeforeRender")
                )
        </div>

    }


    <script src="/lib/bootstrap.bundle.min.js"></script>
    <script>
        var dashboardControl; 

        //refresh dashboard every 5 sec 
        function onBeforeRender() {
            // Initialize or capture the dashboard control
            dashboardControl = clientDashboardControl;
            
            setInterval(() => {
                if (dashboardControl) {
                    dashboardControl.reloadData();
                    // dashboardControl.refresh();
                    console.log("Dashboard refreshed");
                }
            }, 5000); 
        }
    </script>
</body>
</html>
