@* <ul class="navbar-nav justify-content-end">
    @if (User.Identity != null)
    {
        @if (User.Identity.IsAuthenticated)
        {
            <li class="nav-item">
                <a class="nav-link text-light bg-black rounded" title="Hey">@User.Identity.Name</a>
            </li>
            <li class="nav-item">
                <form method="post" action="/Account/Logout">
                    @Html.AntiForgeryToken()
                    <button class="nav-link btn btn-link text-dark border-0" type="submit">Logout</button>
                </form>
            </li>
        }

    }
</ul> *@


