@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<link href="/css/errorPage.css" rel="stylesheet" />

<div class="d-flex justify-content-center align-items-center vh-100">
<div class="section">
    <div class="text-center">
        <h1 class="error">404</h1>
            <div class="display-6  text-muted fw-medium mb-4 ms-4">Page Not Found</div>
            <div class="page ">Sorry, the page you’re looking for doesn’t exist or has been moved.</div>
            <button type="button" class="btn btn-dark btn-sm text-uppercase shadow fw-medium ms-4" onclick="history.back()"><i class="ri-arrow-left-s-line"></i> Go Back</button>
            <a class="btn btn-outline-dark btn-sm text-uppercase shadow fw-medium ms-2" href="/Home/Index"><i class="ri-home-2-line"></i> Back to home</a>
    </div>
</div>
</div>
