@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<link href="/css/errorPage.css" rel="stylesheet" />

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="alert alert-warning container text-center shadow" role="alert">
        <h4 class="alert-heading"> <i class="ri-error-warning-line"></i> Page Not Found</h4>
        <p class="mb-0">Sorry, the page you’re looking for doesn’t exist or has been moved.</p>
    </div>
</div>
