@* dashboard modal content *@
@model Microsoft.Extensions.FileProviders.IDirectoryContents
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard List</title>

   @*  <link href="https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" integrity="sha512-jnSuA4Ss2PkkikSOLtYs8BlYIeeIK1h99ty4YfvRPAlzr377vr3CXDb7sb7eEEBYjDtcYj+AjBH3FLv5uSJuXg==" crossorigin="anonymous" referrerpolicy="no-referrer" /> *@
</head>
<body>
    <ul class="list-group list-group-flush w-100">
        @if (Model != null && Model.Any())
        {
            foreach (var item in Model)
            {
                <li class="list-group-item list-group-item-action fw-medium" onclick="selectDashboard('@item.Name')" style="cursor: pointer;" data-bs-dismiss="modal">
                    <i class="ri-dashboard-line text-primary-emphasis me-2"></i>@item.Name
                </li>
            }
        }
        else
        {
            <li class="list-group-item">No dashboards available</li>
        }
    </ul>

    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js" integrity="sha512-ZbbJAtTdtPb2sp1zYLkwBQeyB2h4Jv76unyXw+8X+WkxMPCrCwnoEoZnGOOWTB6yBfR7I3HtZd8hZx+AwOM9tQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> *@
    <script>
        // Function to handle selecting a dashboard from the modal
        function selectDashboard(dashName) {
            var selectedRowId = localStorage.getItem('selectedRowId');
            var dashPathCell = document.querySelector(`#dashRow-${selectedRowId} .dash-path-cell`);

            if (dashPathCell) {
                dashPathCell.textContent = dashName;
                markRowAsUpdated(selectedRowId); // Mark the row as updated
            }

            // Close the modal using Bootstrap's data attribute
            $('#getDashboardModal').modal('hide');
        }
    </script>
</body>
</html>
