.hover-icon {
    opacity: 0; /* Initially hide the icon */
    transition: opacity 0.3s ease; /* Hide the icon by default */
}

tr:hover .hover-icon {
    opacity: 1;
}

#dialog{
    display:none;
}

.modal-backdrop {
    display: none;
}


.dx-dashboard-toolbar-extension .dx-toolbar .dx-toolbar-items-container{
    position: relative !important;
}

/*.dx-dashboard-surface {
    top: 15px !important;
}*/


/*.dx-dashboard-viewer{
    top: 15px;
}*/

/*.dx-dashboard-title-toolbar .dx-toolbar-items-container {
    height: 54px;
}*/

/*.dx-dashboard-viewer .dx-dashboard-title-toolbar .dx-toolbar-items-container {
    height: 55px !important;
}*/