/* Custom CSS for showing icon on hover */
.hover-icon {
    opacity: 0; /* Initially hide the icon */
    transition: opacity 0.3s ease; /* Hide the icon by default */
}

tr:hover .hover-icon {
    opacity: 1;
}

#dialog{
    display:none;
}

