.reportConfig {
    height: 96vh;
    /*background-color: skyblue;*/
    padding: 2vh 0vw;
}

.reportList {
    height: 100%;
    width: fit-content;
    background-color: #11101D;
    padding: 2vh 2vw;
    /*box-shadow: 0 0 5px #808080;*/
    /*margin-top: 2vh;*/
}

    .reportList ul {
        padding: 0;
        text-align: left;
    }

        .reportList ul li {
            padding-bottom: .5vh;
            color: #fff;
        }

            .reportList ul li a {
                color: #fff;
            }

.reportInstance {
    position: relative;
    padding: 0vh 0vw;
}

.typeBox {
    position: relative;
    padding: .5vh 1vw;
    /*background-color: lightgrey;*/
    /*border-radius: .1vw;*/
    transition: .2s ease;
    font-weight:500;
}

    .typeBox:hover {
        background-color: lightgray;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
       
        /*transform:translateY(-5px)*/
    }


.reportDesignerWrapper {
    position: relative;
    background-color: lightgray;
    /*box-shadow: 0 0 5px #808080;*/
}
